#keyboard-container {
    border: 2px solid rgb(150, 7, 7);
}

#keyboard {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.keyboard-row {
    width: 100%;
    margin: 0 auto 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.keyboard-key {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 6px 0 0;
    height: 50px;
    border: 0;
    border-radius: 2px;
    background-color: #818384;
    font-weight: bold;
    text-transform: uppercase;
    color: #d7dadc;
    cursor: text;
    user-select: none;
    flex: 1;
}
.keyboard-key:hover {
    background-color: #404041;
}


.flex-fill {
    flex: 0.5;
}
.keyboard-key:last-of-type {
    margin: 0;
}
#key-enter {
    flex: 1.5;
}

#key-backspace {
    flex: 2;
}

.suggested-off {
    background-color: #404041;
}