.App {
  text-align: center;
  align-items: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
