.App {
  text-align: center;
  align-items: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* gameboard */
.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.tile-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;

  height: 420px;
  width: 350px;
}

.tile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}


