body {
  min-height: 100%;
  position: relative;
  align-items: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  /* background-image: linear-gradient(90deg, #464d55, #171c26); */

}

.app {
  position: relative;
}

/* score card styling  */

#score-container1 {
  text-align: center;
  line-height: 1.562rem;
  width: 1000%; 
  height: 100%;
  border-radius: .33rem; 
  display: none;
  position: absolute; 
  left: -500px;
  top: 0;
  backdrop-filter: blur(2px);
}

#score-container2 {
  text-align: center;
  line-height: 1.562rem;
  width: 1000%; 
  height: 100%;
  border-radius: .33rem; 
  display: block;
  position: absolute; 
  left: -165px;
  top: 0;
  backdrop-filter: blur(2px);
}

#score-x-button {
  position: absolute;
  right: 10px;
  top: 0;
  width: 20px;
}


#score-card{
  max-width: 20.75rem;
  border-radius: .33rem;
  background-color: #fff;
  background-color: #fff;
  margin: 200px 0px 0px 585px;
  /* dark mode  */
  /* background-image:  linear-gradient(173deg, #36d7b7, #30353f);
  box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px;
  border-top: 6px solid #2b303b; */
   /* light mode */
  border-top: 4px solid rgb(121, 128, 128);
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  position: relative;
  padding-bottom: 10px;
}

#score-hr {
  width: 50%;
  border-top: .5px solid #000;
  margin-top: -1rem;
}


#score-list, li {
  list-style: none;
  padding-left: 0;
}

#recent {
  text-align: left;
  margin: 0px 0px 0px 21px;
}

#recent-scores {
  font-size: .75rem;
  max-width: 88%;
  height: 5rem;
  overflow-y: auto;
  background-color: rgba(53, 53, 53, 0.07);
  margin: auto auto 10px auto;
}

div#recent-scores ul {
  text-align: left;
}


.modal-btn {
  margin-top: .65rem;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #414850, #131720);
  /* background-image: linear-gradient(180deg, #edd29a, #e6b4e4); */
  color: white;
  width: 80px;
  
}

#submission-text {
  font-size: .75rem;
}

#thank-you {
  text-align: center;
}

#sugg-x-btn {
  right: 10px;
  top: 0;
  width: 20px;
}

#sugg-edit-btn {
  right: 10px;
  top: 0;
  width: 20px;
}

#suggestions-ul {
  padding-left: 8px;
  text-align: left;
  color: #727271;
}

button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #6b6b6a;
  transform: translateY(-0.25rem);
  cursor: pointer;
}

/* gameboard */
.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 40px;
}

.tile-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;

  height: 420px;
  width: 350px;
}

.tile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}


 /* header styling */
#header-container {
text-align: center;
}

#header-hr {
  border-top: .5px solid #000;
}


#stats-icon {
   float: right;
   padding-top: 9px;
 }

 #stats-icon:hover {
   cursor: pointer;
 }


/* login page styling */
#login {
  text-align: center;
  line-height: 25px;
}

#login-hr {
  width: 500px;
  margin-bottom: 50px;
}

.login-text {
  font-size: .75rem;
  color: #6b6b6a;
}

.login-text-2 {
  font-size: .75rem;
  color: #000000;
  text-align: left;
}